@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s;
    font-family: 'Anek Tamil', sans-serif;
    /* font-family: 'Fjalla One', sans-serif; */
}

/*------- Dynamic-Sticky-NavBar ------*/
#responsiveNavigationBtn {
    display: none;

    background: url('portfolio-images/images/menu.png') no-repeat center center/cover;
    height: 1.6rem;
    width: 2.2rem;
    z-index: 999;
}

:root {
    --mainColor: rgb(149, 78, 231); 
    --hoverColor: rgb(152, 81, 245); 
    --focusColor: rgb(110, 60, 202); 
    --borderColor: rgba(133, 104, 255, 0.226); 
    --borderRadius: 0.4rem;
    /* --mainColor: rgba(39, 97, 223, 0.92); */
}

.stickyNavBar {
    background-color: var(--mainColor);
    z-index: 1;
}

body {
    height: 200rem;
}

a {
    text-decoration: none;
}


/* .navBar styling */
.navBar {
    transition: all 0.38s;
    position: fixed;
    width: 100%;
    height: 6rem;
    /* background: crimson; */
}

.navBar .max-width .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navBar .max-width .menu li a {
    color: white;
    font-size: 1.24rem;
    padding-left: 0.4rem
}

/* .navBar li hover effect */
.navBar .max-width .menu li a:hover {
    color: rgb(224, 224, 224);
}

.navBar .max-width .menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0.8rem;
}

.navBar .max-width {

    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Width for the Whole-Main_Site */
    max-width: 70rem;
    margin: 0 auto;
    padding: 1.6rem 2.2rem;
}

/* home section styling */
section#Home {
    background: #171313;
}

section {
    width: 100%;
    min-height: 42rem;
}

section .wrapper {
    display: flex;
    background: url('33.jpg') no-repeat center center/cover;

    max-width: 74.4rem;
    height: 38.4rem;
    margin: 0 auto;
    padding: 0.6rem 2.2rem;
    object-fit: cover;

    z-index: -1;
}

section .wrapper .home-content {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 12rem;
    margin-left: 2rem;
}

section .wrapper .home-content .text2 {
    font-size: 4.8rem;
    font-weight: bolder;
    text-shadow:  2px 4px 8px #000000;
}

section .wrapper .home-content .text3 {
    font-size: 2.2rem;
   text-shadow:  1px 2px 8px #000000 ;
}

/*-- Spanning Main-Home Heading --*/
span {
    font-weight: bolder;
    color: var(--mainColor);
}

/*-- Styling Main-Home-Button And Input-Tag--*/
#mainEmailInput {
    width: 17rem;
    height: 3.8rem;
    font-size: 1.5rem;
    padding: 0.8rem;
    color: #757575;
    position: relative;
    top: 0.04%;
    border-radius: var(--borderRadius);
    z-index: 0;
}

.landingBtn {
    height: 3.8rem;
    width: 10rem;
    border: none;
    border-radius: var(--borderRadius);
    font-size: 1.6rem;
    margin: 3rem 0rem 0 1px;
    cursor: pointer;
    background-color: var(--mainColor);
    color: rgba(255, 255, 255, 0.863);
}

.landingBtn:hover {
    background-color: var(--hoverColor);
}
.landingBtn:active {
    background-color: var(--focusColor);
    outline: 4px solid var(--borderColor);
}


/*-- CSS for  About-Section --*/
.flexAboutContainer {
    display: flex;
    align-items: center;
    height: 24.2rem;
    gap: 2.8rem;
}

#About .aboutWrapper {
    max-width: 74.4rem;
    padding: 5.6rem 2.2rem;
    margin: 0 auto;
}

#About .aboutWrapper .aboutImg img {
    width: 100%;
    height: 100%;
}

#About .aboutWrapper .aboutImg {
    width: 120rem;
    height: 18rem;
}

.aboutWrapper>h2 {
    font-size: 2.8rem;
}

#About .aboutWrapper .flexAboutContainer .aboutContent>h2 {
    font-size: 2rem;
}

#About .aboutWrapper .flexAboutContainer .aboutContent #resumeBtn {
    width: 9.6rem;
    height: 2.6rem;

    font-size: 1rem;
    padding: 0.4rem;
    margin-top: 1.6rem;
}

/* --- Services Section ---*/
#Services {
    background-color: #171313;
}

#Services .servicesWrapper {
    /* height: 42rem; */
    max-width: 74.4rem;
    margin: auto;
    padding: 5.6rem 2.2rem;
}

#Services .servicesWrapper>h2 {
    color: white;
    margin-bottom: 1.6rem;
    margin-left: 3rem;
}

#Services .servicesWrapper #flexCardContainer .cards h2 {
    margin-bottom: 2rem;
}

#Services .servicesWrapper #flexCardContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    /* height: 20rem; */
}

.cards {
    text-align: center;
    height: 24rem;
    margin: 0.6rem;
    padding: 4rem 2rem;
    border: 1px solid rgba(214, 209, 200, 0.061);
    border-radius: 1.4%;
    width: 20rem;

}

#Services .servicesWrapper #flexCardContainer .cards:nth-child(3n + 1) .logoDiv img {
    background: rgb(237, 237, 237);
    padding: 2px;
    border-radius: 18%;
}

#Services .servicesWrapper #flexCardContainer .cards .logoDiv img {
    cursor: pointer;
}

/*-------------- Services Hover -------------*/
#Services .servicesWrapper #flexCardContainer .cards .logoDiv img:hover {
    transition: all 0.4s 0.1s;
    /* transform: skew(6deg, 2deg); */
    transform: scale(1.1, 1.1);
}

#Services .servicesWrapper #flexCardContainer .cards:hover {
    transition: all 0.4s;
    background: rgba(47, 47, 47, 0.227);
    box-shadow: 0 5px 10px 16px rgba(0, 0, 0, 0.079);
}

/*-------------- Services Hover -------------*/

/*--- Skills Section Styling ---*/
.skills{
    padding-top: 2.8rem;
}
#Skills .skillsWrapper {
    /* height: 42rem; */
    max-width: 74.4rem;
    margin: auto;
    padding: 3.6rem 2.2rem;
    display: flex;
    justify-content: space-around;
}

#Skills .skillsWrapper .skillsFlexItem {
    width: 45%;
}

#Skills .skillsWrapper .skillsStats .Bar .flexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Skills .skillsWrapper .skillsStats .Bar .skillLine {
    position: relative;
    height: 4px;
    max-width: 31.4rem;
    background: rgb(240, 240, 240);
}

#Skills .skillsWrapper .skillsStats .Bar .skillLine::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';

    height: 4px;
    width: 60%;
    background-color: var(--mainColor);
}

#Skills>h2 {
    text-align: center;
    margin-top: 5.6rem;
    font-size: 2.8rem;
}

#Skills .skillsWrapper .skillsFlexItem>h2 {
    font-size: 2rem;
}

#Skills .skillsWrapper .skillsFlexItem .Bar {
    margin-top: 1.6rem;
}

#Skills .skillsWrapper .skillsFlexItem .Bar .flexRow h2 {
    font-weight: 500;
}

#Skills .skillsWrapper .skillsStats .Bar .skillLine:hover {
    background: rgb(187, 187, 187);
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.242);
    cursor: pointer;
}


/*---- Teams-section Styling -----*/
#Teams {
    background: #171313;
    color: white;
}

#Teams .teamsWrapper {
    max-width: 74.4rem;
    margin: auto;
    padding: 5.6rem 2.2rem;
}

#Teams .teamsWrapper>h2 {

    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 1.8rem;
}

#Teams .teamsWrapper .carousel {
    border-radius: 1.4%;
    background: #171313;
}

#Teams .teamsWrapper .carousel .flexCardItem {
    background: rgba(47, 47, 47, 0.227);
    box-shadow: 0 5px 10px 16px rgba(0, 0, 0, 0.079);
    cursor: pointer;

}

#Teams .teamsWrapper .carousel .flexCardItem h2 {
    margin-bottom: 0.4rem;
}

#Teams .teamsWrapper .carousel .flexCardItem img {
    width: 7.8rem;
    height: 7.8rem;
    border-radius: 50%;
    border: 5px solid #0255b3;
    object-fit: cover;
}

/*--------------- Team-Cards Hover-Effects ----------------*/
#Teams .teamsWrapper .carousel .flexCardItem:hover {
    background: #ffffff17;
    transform: scale(1.03);
}

#Teams .teamsWrapper .carousel .flexCardItem img:hover {
    transition: all 0.6s 1s;
    border: none;
    border-top: 4px solid #0255b3;
    transform: scale(1.98);
    border-radius: 4%;
    box-shadow: 0 5px 12px 15px #1713131e;
}

/*--------------- Team-Cards Hover-Effects ----------------*/

/*----- Contact-Section Styling ----*/
textarea {
    resize: none;
    height: 6rem;
    max-width: 24rem;
    padding: 0.6rem 0.74rem;
}

.sameWidth {
    max-width: 31rem;
}



#Contact .contactsWrapper {
    max-width: 74.4rem;
    margin: auto;
    padding: 5.6rem 2.2rem;
}

#Contact .contactsWrapper>h2 {
    font-size: 2.8rem;
    margin-bottom: 1.8rem;
}

#Contact .contactsWrapper .myInfo {
    align-items: flex-start;
}

#Contact .contactsWrapper .myInfo>h2 {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

#Contact .contactsWrapper .myInfo .infoCont {
    padding: 1.6rem 0;
}

.flexRow>img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.4rem;
}

#Contact .contactsWrapper .flexRow .cForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
}

#Contact .contactsWrapper .flexRow .cForm .input {
    padding: 0.6rem 0.74rem;
    height: 2.2rem;
    max-width: 24rem;
    font-size: 1rem;
}

#Contact .contactsWrapper .flexRow .cForm .focus {
    border: 1px solid rgba(0, 0, 0, 0.26);
    outline: none;
    width: 20rem;
    border-radius: var(--borderRadius);
}

#Contact .contactsWrapper .flexRow .cForm .focus:focus {
    border: 1px solid rgba(0, 0, 0, 0.459);
}

#Contact .contactsWrapper .flexRow .cForm input[type="submit"] {
    padding: 0.4rem 0.8rem;
    background: var(--mainColor);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
#Contact .contactsWrapper .flexRow .cForm input[type="submit"]:hover {
    background: var(--hoverColor);
}
#Contact .contactsWrapper .flexRow .cForm input[type="submit"]:focus {
    background: var(--focusColor);
    outline: 4px solid var(--borderColor);
}


/*----- Footer Styling ------*/

.footer {
    background: #171313;
    color: rgb(255, 255, 255);
    padding: 2rem;
    gap: 0.8rem;
}

.footer hr {
    color: rgba(170, 170, 170, 0.425);
    width: 100%;
    margin-bottom: 1rem;
}

.footer .footerLinks {
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .footerLinks a {

    color: rgba(255, 255, 255, 0.89);
}

.footer .footerLinks a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.733);
}

.footer p {
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
}

 
/*---- Media-Queries ----*/

@media (max-width: 930px) {
    .menu {
        display: flex;

        background: #0d151e;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 100%;
        color: white;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #responsiveNavigationBtn {
        display: block;
    }

    li {
        margin-bottom: 2rem;
    }

    .navBar .max-width .menu li a {
        font-size: 2.4rem;
    }
}

@media (max-width: 934px) {
    .flexAboutContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* background-color: #0d151e; */
        height: 40.2rem;
    }

    #About .aboutWrapper .aboutImg {
        max-width: 44rem;
        height: 18rem;
    }

    #About .aboutWrapper .aboutImg img {
        object-fit: cover;
    }

    #About .aboutContent {
        padding: 1.4rem 2rem;
    }

    /* Services-Section */
    #flexCardContainer {
        flex-wrap: wrap;
    }

    #Services .servicesWrapper>h2 {
        margin-left: 0;
    }

    /*------- Skills section -------*/
    #Skills .skillsWrapper {
        flex-direction: column;
    }

    #Skills .skillsWrapper .skillsFlexItem {
        width: auto;
    }

}

@media (max-width: 733px) {

    /*----- Contacts Section ------*/
    #Contact .contactsWrapper .inForWrapper {
        flex-direction: column;
    }
}